.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}
/* header部分 */
.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.header-divisions{
    width: 160px;
    height: 60px;
    position: absolute;
    left: 225px;
    top: 25px;
    background-color: aliceblue;
}
.division1{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #a9004b;
}
.division2{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 60px;
    top: 10px;
    background-color: #a9004b;
}
.division3{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 110px;
    top: 10px;
    background-color: #a9004b;
}

/* main部分 */
.left{
    width: 150px;
    height: 250px;
    float: left;
    background-color: #80bfa8;
}
.right{
    width: 250px;
    height: 250px;
    float: left;
    background-color: #8c2727;
}
.lists{
   margin: 40px 60px 40px 40px;
}
.list1{
    width: 140px;
    height: 40px;
    border:solid 5px white;
    background-color: #ff863f;
}
.list2{
    width: 140px;
    height: 40px;
    margin: 10px 0 10px 0; 
    border:solid 5px white;
    background-color: #ff863f;
}
.list3{
    width: 140px;
    height: 40px;
    border:solid 5px white;
    background-color: #ff863f;
}
/* footer部分 */
.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}